# Iris Dataset Data Exploration

**Author:** Data Science Essentials Project  
**Date:** September 19, 2025  
**Purpose:** Basic data loading and exploration of the Iris dataset

This notebook demonstrates how to use our custom `PandasDataReader` class to load and explore the famous Iris dataset.

## Prerequisites

**Before running this notebook**, make sure you have set up the project structure and downloaded the required data:

```bash
# From the project root directory
python setup.py
```

This will:
- Create the `data/` directory structure  
- Download the Iris dataset to `data/raw/iris.csv`
- Install required dependencies

---

## 1. Setup and Data Loading

In [4]:
# Add project root to Python path
import sys
import os
sys.path.append('../../')

from source.data_readers import PandasDataReader

# Check if iris.csv exists, if not provide helpful message
iris_path = '../../data/raw/iris.csv'
if not os.path.exists(iris_path):
    print("Data file not found!")
    print("It looks like the project hasn't been set up yet.")
    print()
    print("To download the required data files, run:")
    print("   cd ../../")
    print("   python setup.py")
    print()
    print("This will create the data/ directory structure and download iris.csv")
    raise FileNotFoundError(f"Data file not found: {iris_path}")

# Load Iris dataset from data/raw/ directory
data_reader = PandasDataReader(
    file_path=iris_path,
    separator=',',
    decimal='.',
    header=False,
    names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target']
)

Data file not found!
It looks like the project hasn't been set up yet.

To download the required data files, run:
   cd ../../
   python setup.py

This will create the data/ directory structure and download iris.csv

FileNotFoundError: Data file not found: ../../data/raw/iris.csv

## 2. Basic Data Exploration

In [ ]:
# Display first 5 rows of the dataset
data_reader.head()

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
# Display last 5 rows of the dataset
data_reader.tail()

     sepal_length  sepal_width  petal_length  petal_width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [ ]:
# Display first 2 rows of the dataset
data_reader.head(2)

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [ ]:
# Display column names
data_reader.df.columns.tolist()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target']

In [ ]:
# Generate descriptive statistics
data_reader.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000